:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --main-color: rgb(0, 0, 232);
  --minor-color: #f5f5f5;
  --font: 'Poppins', sans-serif;
  --gradient:linear-gradient(to right, rgba(0, 0, 255, 0.8), rgba(255, 0, 0, 0.8));
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --card-shadow:
                 0 1px 3px rgba(0, 0, 0, 0.12),
                 0 1px 2px rgba(0, 0, 0, 0.24); 
  --card-hover-shadow:
                       0 14px 28px rgba(0, 0, 0, 0.25), 
                       0 10px 10px rgba(0, 0, 0, 0.22);
  --heading-font-size: 1.8rem;
  --pargaph-font-size: 1rem;
}

@media (max-width: 768px) {
section#about {
  height: fit-content !important;
  gap: 4rem;
  padding: 1rem 0;
}

.text-container {
  width: 100%;
}

.text-container h1 {
  font-size: var(--heading-font-size);
  text-align: center;
  line-height: 1;
  margin-top: -5%;
}

.text-container p {
  font-size: 0.8rem;
  text-align: justify;
}

.reasoning-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10%;
  gap: 2px;
}

.reason {
  padding: 0.2rem;
  text-align: center;
}

.reason i {
  padding: 1.5px 6px;
  font-size: 1rem;
}

.reason h4 {
    margin-top: 5px;
    font-size: 1rem;
}

.reason p {
    margin-top: -1rem;
    font-size: 0.8rem;
}

.sub-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: -0.5rem;
  width: 96%;
  padding:1rem 0.5rem;
}

.sub-container h2 {
  font-size: 1rem;
}

.sub-container span {
    font-weight: 600;
    font-size: 0.8rem;
}

section#services {
  height: fit-content !important;
  padding: 1rem 2px;
}

.services-header {
  font-size: var(--heading-font-size);
  text-align: center;
  margin-top: 5%;
  line-height: 1.2;
}

.serviceParagraph {
  font-size: var(--pargaph-font-size);
  line-height: 1.2;
  text-align: center;
}

.services-container {
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem 0;
}

.services-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5rem;
}

.service-card {
  gap: 0.5rem;
  padding: 1.5rem 0.5rem;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.service-top i{
  margin-right: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
}

.service-top h3 {
  font-size: var(--pargaph-font-size);
  line-height: 1.2;
}

.service-card p {
  margin-left: 3rem;
  font-size: var(--pargaph-font-size);
  margin-top: -15px;
}

.service-card ul {
  line-height: 1.5;
}

.service-card ul li i {
  font-size: var(--pargaph-font-size);
}

#learn-more-btn {
  border-radius: 2px;
  margin-top: 5%;
  width: 100%;
}

#view-all-btn {
  width: 100%;
  padding: 0.3rem;
  border-radius: 2px;
}

#view-all-course-btn {
  width: 100%;
}

.section-intro .header-contacts {
  font-size: var(--heading-font-size);
  margin-top: 5%;
}

.paragraph-contacts {
  text-align: center;
  line-height: 1.2;
  font-size: var(--pargaph-font-size);
}

section#contacts {
  width: 100%;
  padding: 5px;
  margin: 0;
}

.contacts-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
}

section#contacts form {
  padding: 1rem 0.5rem;
  width: 100%;
  height: auto;
  gap: 1rem;
  border-radius: 4px;
  align-items: center;
}

.form-top {
  align-self: flex-start;
}

.form-top i {
  font-size: 1.2rem;
  border-radius: 2px;
  padding: 0.5rem 0.5rem;
}

.form-group {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.8rem;
  width: 100%;
  padding: 0;
}

.input-group {
  width: 100%;
  padding: 0.5rem  0.2rem;
}

.input-group input {
    padding: 0.5rem;
    border-radius: 2px;
    width: 100%;
    align-items: center;
}

.input-group label {
  align-self: flex-start;
}

.input-group textarea {
  border-radius: 2px;
  width: 100%;
  padding: 5px 5px;
}

select {
    border-radius: 2px;
    font-size: 1rem;
    width: 100%;
}

select option {
    padding: 0;
    font-size: 0.8rem;
}

#send-message-btn {
  display: flex;
  padding: 0.3rem;
  gap: 0.8rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 2px;
  margin-top: 10%;
}

.info-container {
  gap: 1rem;
  height: fit-content;
  margin-top: 3%;
  padding: 1rem 2px;
  width: 100%;
  border-radius: 4px;
}

.contact-group {
  border-radius: 4px;
  gap: 0.5rem;
}

.contact-group i {
  padding: 1rem 1.5rem;
}

.emergency p {
  line-height: 1;
  margin-bottom: 10px;
}

.emergency h3 {
  font-size: 1.2rem;
}

}

@media (max-width: 480px) {
  
}

